.contactus {
    padding: 50px 20px;
    text-align: center;
}

.contactus-container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}

.contactus-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contactus-submit {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactus-submit:hover {
    background-color: var(--secondary-color);
}
.form_title,.form_email,.form_message
{
    color: var(--secondary-color);
}